doctype html
head
  title=title
  link(rel='stylesheet' href='/stylesheets/style.css')
h1=title
p Welcome to #{title}
.buttons
  button.loginBtn login
  button.toolsBtn tools

script(src='/javascripts/index.js')