doctype html
head
  title=title
  link(rel='stylesheet' href='/stylesheets/style.css')
h1 Login
form(method='post' action='/login')
  p
    label(for='username') Username:
    input#username(type='text' name='username')
  p
    label(for='password') Password:
    input#password(type='text' name='password')
  p
    input(type='submit' value='Login')
  include ../layouts/foot.pug
