:root {
    --background-color: #f6f6f6;
    --btn-background-color: #aaaaaa;
    --btn-background-color__hover: #888888;
    --btn-font-color: #ffffff;
    --color-yellow: #dfd23f;
    --color-lightgray: #d0d0d0;
    --font-color: #5d6f7a;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1b1527;
}

body {
    background-color: var(--background-color);
    margin: 0;
}